@font-face {
	font-family: 'alt';
	src: url('bla.ttf') format('truetype');
}
input#liter {
	border: 1px solid #444;
	background-color: #333;
	color: aquamarine;
	font-family: inherit;
}
span#resetCycle {
	color: #f80;
	vertical-align: -3px;
	font-size: 26px;
}
body {
	background-color: #222;
	font-family: monospace;
	Color: aquamarine;
	font-size: large;
}
table {
/*	font-family: 'alt', sans-serif;*/
	font-family: monospace;
	font-size: 12px;
	width: 100%;
}
th {
	vertical-align: bottom;
}
tr {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ff0;
	border-style: solid;
	border-width: 2px;
	border-color: #ff0;
}
td {
	text-align: center;
	vertical-align: top;
}
td#desc {
	text-align: left;
}
td#dps {
	text-align: right;
}
span.dps {
	font-weight: bold;
}
span.right {
	float: right;
	margin-top: -0px;
}
span#right {
	float:left;
}
span#left {
	padding-right: 15px;
	margin-right: 15px;
	border-right-style: dotted;
	border-right-width: thin;
	border-right-color: #444;
	float: left;
}
.time {
	background-color: #222;
	color: aquamarine;
	border-color: #444;
	border-style: solid;
}
span#header {
	font-size: larger;
}
div#header {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #444;
}
.chart {
}
u {
	color: #f80;
	font-weight: bold;
	text-decoration: none;
}
label {
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #444;
}

label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .2em .5em;
  width: .6em;
  height: .6em;
  line-height: .55em;
  border: 1px solid silver;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="radio"]:checked + label::before {
  content: '\a0';
  background: aquamarine;
}